body{
    background: rgb(58, 58, 58);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header{
    background-image: url("images/lead-bg.jpg"); 
    margin: 0px;
    padding: 0px;
text-align: center;
}

header .logo a{
    background-image: url("images/Logo.png");
    background-size: 300px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 200px;
    position: relative;
    text-indent: -99999999999999px;
    top: -30px;
    width:300px;
}

header .home a{
    height: 100vh;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("images/home.png");
    background-size: 100px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 200px;
    position: relative;
    text-indent: -99999999999999px;
    top: -0px;
    width:300px;
}

header .about a{
    background-image: url("images/about.png");
    background-size: 100px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 200px;
    position: relative;
    text-indent: -99999999999999px;
    top: -0px;
    width:300px;
}

header .contact a{
    background-image: url("images/contact.png");
    background-size: 150px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 200px;
    position: relative;
    text-indent: -99999999999999px;
    top: -0px;
    width:300px;
}

header .portfolio a{
    background-image: url("images/portfolio.png");
    background-size: 150px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 200px;
    position: relative;
    text-indent: -99999999999999px;
    top: -0px;
    width:300px;
}

footer .Linkedin{
    background-image: url("images/Logo.png");
    background-size: 30px;
}

section{

    background: white;
    color: gray;
    padding: 20px;
    display:flex;
    flex-direction: row;
}

nav{
    color: aliceblue;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
 ul{
     color: aliceblue;
     margin: 0;
     padding: 0;
     list-style-type: none;
 }

 li{

    display: inline-block;
    margin: 20px;
    padding: 0px,400px,0px,400px;
 }

div{
    background:white;
  
}

footer{
    background: black;
    margin: 0px;
    padding: 20px;
    text-align: center;

}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
    padding: 20px;

  }
  .fa-linkedin {
    background:rgb(14, 118, 168);
    color: white;
    padding: 20px;

  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 20px;


 
  }